* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    max-height: 50px;

    >.row {
        margin: auto;
        justify-content: center;

        >h2 {
            color: white;
            text-align: center;
        }
    }
}

main {
    height: calc(100vh - 110px);
    overflow-y: scroll;

}

footer {
    min-height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;

    >nav {
        margin: auto auto;
        width: 90%;
        height: 100%;

        & a {
            text-decoration: none;
            color: white;
            font-family: 'Times New Roman', Times, serif;
            transform: skewX(-5deg);
            font-weight: 200;
            font-size: medium;
        }

        & a:hover {
            filter: drop-shadow(0 0 .5px black);
        }
    }
}